

@media (min-width: 119px) and (max-width: 480px) {
    body {
        background-color: rgb(180, 247, 217);
    }
}


@media (min-width: 501px) and (max-width: 680px) {
    body {
        background-color: rgb(179, 208, 239);
    }
}

@media (min-width: 681px) {
    body {
    
        background-color: rgba(183, 229, 231, 0.865);
    }
}




 
.completed {
    background-color: rgb(46, 110, 46); /* Change background color */
    color: white; /* Change text color */
}

.delete{
    background-color: rgb(227, 26, 26);
}

