body{
    background-color: rgb(181, 211, 238);
    font-family:'Times New Roman', Times, serif ;
}

.completed {
    background-color: rgb(49, 155, 49); /* Change background color */
    color: white; /* Change text color */
}

.delete{
    background-color: rgb(227, 26, 26);
}


